@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Diatype';
  src: url('/fonts/ABCDiatype-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype';
  src: url('/public/assets/fonts/ABCDiatype-Medium.c86deac8.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Diatype';
  src: url('/public/assets/fonts/ABCDiatype-Bold.f2bf1e1c.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


body {
  display: block;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: #121212;
}
